<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262889143200-78pvgavqvbpo3b3pv0af1vvvsoo50n5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262889143200-78pvgavqvbpo3b3pv0af1vvvsoo50n5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAjdeGjDl_B5rQYvuDTn8s1Xxv64lM-m0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>262889143200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JS.personal.webRTC.webRTC-iOS</string>
	<key>PROJECT_ID</key>
	<string>webrtc-f8111</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-f8111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262889143200:ios:d05e583dcc4e58937642c5</string>
</dict>
</plist>